@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular.woff2") format("woff2");
  src: url("../fonts/OpenSans-Regular.woff") format("woff");
  src: url("../fonts/OpenSans-Regular.ttf") format("ttf");
  font-weight: regular;
}

@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold.woff2") format("woff2");
  src: url("../fonts/OpenSans-Bold.woff") format("woff");
  src: url("../fonts/OpenSans-Bold.ttf") format("ttf");
  font-weight: bold;
}

body {
  margin: 0;
  padding: 0;
  position: relative;
}

h3 {
  margin: 0;
  padding: 0;
}

.welcome {
  background-color: #000000;
  background-image: url("../images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  
  padding: 29px 20px 90px 20px;
  color: #fff;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 69px;
  
  position: relative;
  z-index: 0;
}

.welcome::before {
  content: "";
  background-color: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  
  position: absolute;
  z-index: -1; 
}

.welcome__logo-and-menu {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  padding: 0 15px 0 15px;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo { 
  width: 179px;
}

.menu {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
}

.menu__list {
  display: flex;
  gap: 36px;
}

.menu__item {
  list-style-type: none;
}

.menu__link {
  color: #fff;
  text-decoration: none;  
  text-transform: uppercase;
}

.menu__link:hover {
  text-decoration: underline;
}

.welcome__title {
  width: 100%;
  max-width: 690px;
}

.welcome__title-text {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1.7em;
}

/* ----------------------------------------------------------------- */
.trends {
  width: 100%;
}

.trends_container {
  width: 100%;
  min-height: 320px;
  display: flex;
  gap: 4px;
}

.section-title {
  font-family: "OpenSans-Bold", sans-serif;
  color: #0f0d0e;
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin: 57px 0 30px 0;
}

.section-title::after {
  content: " ";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 9px auto 0 auto;
}

.trends__item {
  width: 25%;
  background-color: #000;
  display: flex;
  align-items: end;
  position: relative;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: 1;
}

.trends__item::after {
  content: "";
  background-color: #000000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  z-index: -1;
}

.item-1 {
  background-image: url("../images/trend1.jpg");
}

.item-2 {
  background-image: url("../images/trend2.jpg");
}

.item-3 {
  background-image: url("../images/trend3.jpg");
}

.item-4 {
  background-image: url("../images/trend4.jpg");
}

.trends__content {
  border: 3px solid #b59f5b;
  margin: 20px;
  padding: 32px 36px;
  width: 100%;
  box-sizing: border-box;
}

.trends__title {
  display: block;
  font-family: "OpenSans-Bold", sans-serif;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin: 5px 0 0 0;
  line-height: 1.2em;
  text-decoration: none;
}

.trends__title:hover {
  color: #b59f5b;
}

/* ----------------------------------------------------------------- */

.content-container {
  width: 100%;
  max-width: 1200px;
  margin: 64px auto 0 auto;
  padding: 0 15px 0 15px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.main-content {
  max-width: 778px;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.main-content__item {
  width: 100%;
  display: flex;
}

.main-content__pict {
  width: 381px;
  object-fit: cover;
}

.main-content__info {
  margin-left: 30px;
}

.main-content__categories {
  display: flex;
  padding: 0;
  margin: 0;
  flex-wrap: wrap;
}

.categories__item {
  list-style-type: none;
  margin-right: 17px;
}

.categories__item:last-child {
  margin-right: 0;
}

.categories__link {
  font-family: "OpenSans-Bold", sans-serif; 
  color: #b59f5b;
  font-size: 14px;
  text-decoration: none;
  text-transform: uppercase;
}

.categories__link:hover {
  text-decoration: underline;
}

.main-content__title {
  margin: 0 0 25px 0;
}

.meta {
  margin: 0 0 37px 0;
}

.title__link {
  display: inline-block;
  font-family: "OpenSans-Bold", sans-serif;
  color: #0f0d0e;
  font-size: 20px;
  line-height: 1.3em;
  text-decoration: none;
  text-transform: uppercase;
}

.title__link:hover {
  color: #b59f5b;
}

.main-content__data {
  display: inline-block;
  font-family: "OpenSans-Regular", sans-serif;
  color: #888;
  font-size: 12px;
  padding: 0 8px 0 0;
}

.main-content__author {
  display: inline-block;
  font-family: "OpenSans-Bold", sans-serif;
  color: #000;
  font-size: 12px;
}

.main-content__text {
  display: inline-block;
  font-family: "OpenSans-Regular", sans-serif;
  color: #0f0d0e;
  font-size: 15px;
  line-height: 1.4em;
  margin: 10px 0 0 0;
}

.other-content {
  display: flex;
  flex-direction: column;
  align-items: center;

  max-width: 272px;
}

.new-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section__title {
  font-family: "OpenSans-Bold", sans-serif;
  color: #0f0d0e;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  margin: -2px 0 27px 0;
}

.section__title::after {
  content: " ";
  display: block;
  width: 66px;
  height: 3px;
  background-color: #e1d9bd;
  margin: 9px auto 0 auto;
}

.new-posts__item {
  max-width: 271px;
  width: 100%;
  margin: 0 0 22px 0;
  display: flex;
}

.new-posts__pict {
  width: 70px;
  height: 70px;
  font-size: 10px;
}

.new-posts__info {
  box-sizing: border-box;
  margin-left: 20px;
}

.new-posts__data{
  font-family: "OpenSans-Regular", sans-serif;
  color: #a9a9a9;
  font-size: 12px;
  padding: 0 0 1px 0;
  margin: 0;
}

.new-posts__text {
  margin: 0;
}

.new-posts__text-link {
  display: inline-block;
  font-family: "OpenSans-Bold", sans-serif;
  color: #000;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 1.2em;
}

.new-posts__text-link:hover {
  color: #b59f5b;
}

/* ----------------------------------------------------------------- */

.search-box {
  width: 100%;
  height: 48px;
  padding: 0;
  margin: 40px 0 58px 0;
}

.search-form {
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.search-field {
  box-sizing: border-box;
  min-width: 224px;
  height: 48px;
  padding: 0 15px;
  background-color: #f4f7f6;
  border: none;
}

.search-field::placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  color: #939594;
}

.search-field:focus {
  outline: solid #b59f5b 1px;
  outline-offset: -1px; 
}

.search-btn {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  background-color: #b59f5b;
  border: none;
  background-image: url("../svg/search.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: center center;
  cursor: pointer;
}

.search-btn:hover {
  background-color: #323232;
}

/* ----------------------------------------------------------------- */

.subscribe {
  width: 100%;
  margin: 0 0 58px 0;
}

.mail-form__field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 48px;
  background-color: #f4f7f6;
  border: none;
  padding: 0 15px;
  margin: -3px 0 0 0;
}

.mail-form__field:focus {
  outline: solid #b59f5b 1px;
  outline-offset: -1px;
}

.mail-form__field::placeholder {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  color: #939594;
}

.subscribe-btn {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 48px;
  margin: 17px 0 0 0;
  background-color: #b59f5b;
  border: none;
  color: #fff;
  text-transform: uppercase;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.subscribe-btn:hover {
  background-color: #323232;
}

/* ----------------------------------------------------------------- */

.tags {
  display: block;
  width: 100%;
  margin: 0 0 36px 0;
}

.tag-list {
  width: 100%;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.tags__item__link {
  display: inline-block;
  box-sizing: border-box;
  border: solid 3px #eeeeee;
  padding: 3px 13px 5px 13px;
  margin: 0 9px 6px 0;
  font-family: "OpenSans-Bold", sans-serif;
  color: #0f0d0e;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
}

/* ----------------------------------------------------------------- */

.themes {
  width: 100%;
}

.themes-mod {
  margin-bottom: 15px;
}

.themes__list {
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.themes__item {
  width: 100%;
  border-bottom: 1px solid #eeeeee;
}

.themes__item__link {
  display: inline-block;
  font-family: "OpenSans-Bold", sans-serif;
  color: #000;
  font-size: 14px;
  text-decoration: none;
  padding: 6px 0 14px 0;
  margin: 0;
}

.themes__item__link:hover {
  color: #b59f5b;
}

.sup_text {
  color: #b59f5b;
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  vertical-align: super;
  padding-left: 3px;
}

/* ----------------------------------------------------------------- */

.products {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto 0 auto;
  padding: 0 15px 0 15px;
  box-sizing: border-box;
}

.products__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.products__item {
  width: 30%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__img {
  display: block;
  box-sizing: border-box;
  width: 100%;
  object-fit: cover;
  padding: 0 25px;
}

.products__content {
  border: 3px solid #b59f5b;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  /* max-width: 347px; */
  padding: 50px 23px 30px 23px;
  flex-grow: 1;
  margin-top: -35px;
}

.products__title {
  margin: 0;
  padding: 0;
}

.products__desc {
  margin: 5px 0 0 0;
  padding: 0;
  display: inline-block;
  font-family: "OpenSans-Regular", sans-serif;
  color: #0f0d0e;
  font-size: 15px;
  line-height: 1.4em;
}

.link-more-info {
  text-decoration: none;
  color: #b59f5b;
}

.link-more-info:hover {
  text-decoration: underline;
}

.price__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 22px 0 0 0;
}

.products__price {
  display: flex;
  flex-direction: column;
}

.price__sale {
  display: block;
}

.products__btn {
  width: 140px;
  height: 48px;
  
}

.price__sale {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 14px;
  text-decoration: line-through;
}

.price__relevant {
  font-family: "OpenSans-Bold", sans-serif;
  font-size: 20px;
}

.products__btn {
  background-color: #b59f5b;
  border: none;
  color: #fff;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.products__btn:hover {
  background-color: #323232;
}

/* ----------------------------------------------------------------- */
.pop-up {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up::before {
  content: "";
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 5;
  background-color: #000;
  opacity: 0.6;
}

.pop-up__box {
  max-width: 390px;
  display: flex;
  flex-wrap: wrap;
  z-index: 6;
}

.pop-up__close {
  background-image: url("../svg/form-x.svg");
  background-repeat: no-repeat;
  background-size: 18px;
  background-color: rgba(28,28,28,0);
  background-position: right;
  height: 18px;
  z-index: 6;
  border: none;
  cursor: pointer;
  width: 100%;
  padding: 0;
  margin-bottom: 5px;
}

.pop-up__content {
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px 54px 30px;
  background-color: #fff;
  z-index: 6;
  display: flex;
  flex-direction: column;
  font-family: "OpenSans-Regular", sans-serif;
}

.mod {
  margin-top: 45px;
  margin-bottom: 20px;
}

.form__item {
  display: block;
  width: 100%;
  font-size: 13px;
  margin: 0px 0 0px 0;
}

.selection-field {
  width: 100%;
  height: 48px;
  border: none;
  background-color: #f4f7f6;
  box-sizing: border-box;
  padding: 0 22px;
  margin: 10px 0 30px 0;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  color: #939594;
  -webkit-appearance: none;
  -moz-appearance: none;

  background-image: url("../svg/form-arrows.svg");
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-size: 10px;
}

.selection-field:focus {
  outline: solid #b59f5b 1px;
  outline-offset: -1px; 
}

.radio-wrapper {
  margin-top: 5px;
  margin-bottom: 30px;
}

.input__radio {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
  padding: 0;
}

.radio {
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  margin-right: 0px;
}

.radio::before {
  content: "";
  display: inline-block;
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.input__radio:checked + .radio::before {
  background-image: url("../svg/form-circle.svg");
}

.text-box {
  display: block;
  width: 100%;
  min-height: 131px;
  padding: 22px;
  margin: 10px 0 20px 0;
  box-sizing: border-box;
  font-family: "OpenSans-Regular", sans-serif;
  font-size: 13px;
  background-color: #f4f7f6;
  border: none;
  color: #939594;
  resize: none;
}

.text-box:focus {
  outline: solid #b59f5b 1px;
  outline-offset: -1px; 
}

.pop-up__submit {
  display: block;
  width: 100%;
  box-sizing: border-box;
  height: 48px;
  border: none;
  background-color: #b59f5b;
  color: #fff;
  font-family: "OpenSans-Bold", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
}

.pop-up__submit:hover {
  background-color: #323232;
}

/* ----------------------------------------------------------------- */
.footer-content {
  box-sizing: border-box;
  width: 100%;
  padding: 0 35px;
  margin: 64px auto 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social {
  box-sizing: border-box;
  width: 100%;
  max-width: 1170px;
  padding: 29px 0 31px 0;
  background-color: #f4f7f6;
  list-style-type: none;
  
  display: flex;
  margin: 0 0 73px 0;
  align-items: center;
  justify-content: center;
  gap: 27px;
}

.footer-icon {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: center center; 
}

.icon-dribbble {
  background-image: url("../svg/001-dribbble.svg");
}

.icon-pinterest {
  background-image: url("../svg/002-pinterest.svg");
}

.icon-tumblr {
  background-image: url("../svg/003-tumblr.svg");
}

.copyright__link {
  display: block;
  margin: 0 auto 40px auto;
  
  font-family: "OpenSans-Bold", sans-serif;
  color: #999999;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}

._hidden {
  display: none;
}

/* ----------------------------------------------------------------- */

/*tablet*/
@media (min-width:641px) and (max-width: 1200px) {
  .welcome {
    /* height: 350px; */
    background-image: url("../images/banner-bg-tablet.jpg");
    padding-top: 43px;
    padding-bottom: 80px;
  }

  .menu {
    background-image: url("../images/menu_icon.png");
    background-repeat: no-repeat;
    background-size: 22px;
    background-position: right center;
    cursor: pointer;
  }

  .menu__item {
    display: none;
  }

  .logo { 
    width: 158px;
  }

  .welcome__title-text {
    font-size: 40px;
    margin-top: 10px;
    padding: 0 35px;
    line-height: 1.5em;
  }

  .section-title {
    font-size: 18px;
    margin: 45px 0 18px 0;
  }

  .trends_container {
    min-height: 498px;
    flex-wrap: wrap;
    gap: 0px;
  }

  .trends__item {
    width: calc(50% - 4px);
    margin-bottom: 4px;
    min-height: 247px;
  }

  .trends__item:nth-child(odd) {
    margin-right: 4px;
    flex-grow: 1;
  }

  .trends__content {
    margin: 14px 19px;
    padding: 35px 30px;
  }

  .trends__title {
    font-size: 17px;
  }

  .content-container {
    padding: 0px 35px;
    margin-top: 50px;
  }

  .main-content {
    gap: 42px;
    margin-right: 35px;
  }

  .main-content__item {
    flex-wrap: wrap;
    max-width: 392px;
  }

  .main-content__item:not(:last-child)::after {
    content: " ";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    margin: 12px auto 0 auto;
  }

  .main-content__pict {
    width: 392px;
    height: 302px;
    margin-bottom: 11px;
  }

  .main-content__info {
    margin-left: 0;
  }

  .title__link {
    font-size: 17px;
    padding: 10px 0 5px 0;
  }

  .meta {
    margin-bottom: 16px;
  }

  .main-content__text {
    line-height: 1.5em;
  }

  .products {
    padding: 0 35px;
  }

  .products__container {
    justify-content: space-between;
    gap: 23px;
    margin-top: 35px;
  }

  .products__item {
    width: 50%;
    max-width: 337px;
  }

  .products__img {
    width: 292px;
    padding: 0 0 0 0;
  }

  .products__content {
    padding-top: 40px;
    padding-bottom: 25px;
  }

  .footer-content {
    margin-top: 55px;
  }

  .social {
    margin-bottom: 45px;
  }

  .pop-up__close {
    height: 27px;
    background-size: 27px;
  }

  .mod {
    margin-top: 25px;
  }

  .radio-wrapper {
    margin: 10px 0 30px 0;
  }

  .radio {
    margin-right: 20px;
  }

  .radio::before {
    background-size: 26px;
    width: 26px;
    height: 26px;
  }
}

/* tablet landscape*/
@media (min-width:641px) and (max-width: 1200px) and (orientation: landscape) {
  .trends_container {
    flex-wrap: nowrap;
    min-height: 320px;
    gap: 4px;
  }
  
  .trends__item {
    width: 25%;
  }

  .trends__item:nth-child(odd) {
    margin-right: 0;
  }
}


/* mobile*/
@media (max-width: 640px) {
  .welcome {
    /* height: 610px; */
    background-image: url("../images/banner-mobile.jpg");
    gap: 10px;
    padding: 29px 15px 195px 15px;
  }

  .welcome__logo-and-menu {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .logo {
    margin-top: 170px;
  }

  .menu {
    background-image: url("../images/menu_icon.png");
    background-repeat: no-repeat;
    background-size: 24px;
    background-position: right center;
    width: 100%;
    cursor: pointer;
  }

  .menu__item {
    display: none;
  }

  .logo { 
    width: 269px;
  }

  .welcome__title-text {
    font-size: 26px;
    padding: 0 15px;
    line-height: 1.4em;
  }

  .section-title {
    font-size: 16px;
    margin-top: 40px;
    margin-bottom: 20px;
  }

  .trends_container {
    min-height: max-content;
    flex-wrap: wrap;
  }

  .trends__item {
    width: 100%;
    min-height: 232px;
  }

  .trends__content {
    padding: 30px 15px;
    margin: 15px
  }

  .trends__title {
    font-size: 16px;
  }

  .content-container {
    margin-top: 40px;
    flex-direction: column;
  }

  .main-content {
    width: 100%;
    gap: 35px;
  }

  .main-content__item {
    width: 100%;
    flex-direction: column;
  }

  .main-content__item::after {
    content: " ";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #eeeeee;
    margin: 20px auto 0 auto;
  }

  .main-content__pict {
    width: 100%;
    height: 253px;
    margin-bottom: 10px;
    object-fit: cover;
  }

  .main-content__info {
    margin-left: 0;
  }

  .main-content__title {
    margin-bottom: 11px;
  }

  .title__link {
    font-size: 16px;
    margin-top: 10px;
  }

  .meta {
    margin-bottom: 5px;
  }

  .main-content__text {
    font-size: 14px;
  }

  .other-content {
    max-width: 100%;
  }

  .new-posts {
    width: 100%;
  }

  .mod-mobile {
    font-size: 16px;
    margin-top: 40px;
  }

  .new-posts__item {
    max-width: 100%;
  }

  .search-box {
    margin-bottom: 0;
  }

  .search-field {
    flex-grow: 1;
  }

  .subscribe {
    margin-bottom: 0;
  }

  .tags {
    margin-bottom: 0;
  }

  .tag-list {
    margin: 0;
    gap: 6px;
  }

  .tags__item__link {
    padding: 2px 13px 3px 13px;
    margin: 0;
  }

  .themes__list {
    margin-bottom: 0px;
  }

  .themes__item__link {
    padding-top: 7px;
  }

  .products__container {
    gap: 20px;
  }

  .products__item {
    width: 100%;
  }

  .products__img {
    min-width: 285px;
    padding: 0;
  }

  .products__content {
    padding: 40px 18px 32px 18px;
    margin-top: -30px;
  }

  .pop-up__content {
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 25px;
    padding-bottom: 30px;
  }

  .pop-up__close {
    height: 28px;
    background-size: 28px;
  }

  .mod {
    margin-top: 0;
  }

  .radio-wrapper {
    margin: 10px 0 30px 0;
  }

  .radio {
    margin-right: 20px;
  }

  .radio::before {
    background-size: 26px;
    width: 26px;
    height: 26px;
  }

  .footer-content {
    margin-top: 40px;
  }

  .social {
    margin-bottom: 45px;
  }

  
}

/* mobile landscape*/
@media (max-width: 640px) and (orientation: landscape){
  .trends_container {
    flex-wrap: nowrap;
    min-height: 320px;
    gap: 4px;
  }
  
  .trends__item {
    width: 25%;
  }

  .trends__item:nth-child(odd) {
    margin-right: 0;
  }
}